@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* HTML = ID / CSS = "#"
   HTML = CLASS / CSS = "." 
*/
body{
    background-color: aquamarine;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
}

h1, h2{
    color: rgb(0, 41, 41);
}

#principal{
    color: rgb(117, 27, 0);
    text-align: center;
}